SECRET_KEY=replace-with-secure-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/chowdhury_family
